* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;

}

html, body {
	scroll-behavior: smooth;
}

body {
	width: 100%;
}

.container-fluid {
	background-color: #f2f2f2;
	padding: 0;
	margin: 0;
}



nav {
	width: 100%;
	overflow: hidden;
	display: flex;
	position: fixed;

}


#page-title img{
	width: 60%;
	height: 60%;
	border-radius: 20%;	

	padding-top: 0;
	color: white;

}


#artNav ul {
	
	margin: 0;
	list-style: none;
	margin-bottom: 10%;
}


#artNav a{
	font-family: 'Montserrat', sans-serif;
	padding: 15px;
	width: 90px;
	display: block;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

#artNav a:hover {
	color: blue;
}

#artNav a:active {
	color: blue;
	text-decoration: underline;
}


/*Home Page*/

#home {
	background: 

	url(../images/b1.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;

/*	filter: blur(2px);
	-webkit-filter: blur(2px);*/
}


#home h1{
	


	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 6em;
	text-align: center;


	text-shadow: 0 5px 10px rgba(0,0,0);
	text-decoration: underline;
/*	mix-blend-mode: overlay;*/
	/*box-shadow: 0 5px 10px rgba(0,0,0,10);*/
	/*background: rgba(0,0,0,.2);*/


}

#home h2 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;

	text-shadow: 0 5px 10px rgba(0,0,0);

}

#home h2 a{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;

	text-shadow: 0 5px 10px rgba(0,0,0);

}

/*About Page*/

.about-page {
	width: 100%;
	height: 100vh;
	background-color: #f2f2f2;

}


#about-profile {
	padding-top: 2%;
}

#about-profile h2 {
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-align: center;
	padding-top: 5%;
	font-size: 2em;
	
}

#profile {
	width: 100%;


}

#profile img {
	max-width: 60%;
	height: auto;
	border-radius: 50%;
	margin-top: 5%;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#description p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	text-align: left;
	letter-spacing: 1.5px;
	color: black;
	margin-top: 5%;
	margin-bottom: 0;

}

#description p a{
	font-weight: bold;
}

/*Gallery*/


.gallery-page {
	height: 100%;
	background: #f2f2f2;
	display: inline-block;
	width: 100%;

}


#gallery h2 {
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-align: center;
	padding-top: 3%;
	font-size: 2em;
	
}

#gallery p{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1.1px;

}

.tz-gallery {
	padding: 40px;
}


.tz-gallery .lightbox img {
	width: 100%;
	margin-bottom: 30px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);

}

.tz-gallery .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);

}

.tz-gallery img {
	border-radius: 4px;
}

.baguetteBpx-button {
	background: black !important;
}


/*end gallery page*/

/*Contact Page*/

.contact-page {

	width: 100%;
	height: 100%;
	background-color: #f2f2f2;

}

#contactPage {
	height: 100%;
	background-color: #f2f2f2;
	padding-top: 2%;

}



#contactPage h2{

	font-family: 'Montserrat', sans-serif;
	color: black;
	text-align: center;
	padding-top: 3%;
	font-size: 2em;
}

#contactPage p {	
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 1.1px;

}


#form-list {
	margin-top: 3%;
	margin-left: 10%;
}


form .form-group {
	width: 75%;
	padding: 5px 5px;
	border: 1px solid #ccc;
	margin-left: 25%;
}

.form-group label {
	color:  #003300;	
	font-weight: bold;
	padding-left: 5px;
	height: auto;

}



.form-group textarea {
	width: 100%;
	padding: 10px 10px;
	height: 80px;
	border: 1px solid #ccc;

}

.btn {
	width: 75%;
	padding: 5px 5px;
	border: 1px solid #ccc;
	margin-bottom: 10%;
	background: #003300;
	color: white;
	font-weight: bold;
	margin-left: 25%;
}


.btn:active {
	background-color: #006600;
}


#gmap {
	width: 100%;
	display: inline;
	border: none;
	height: 85%;
	border-radius: 10px;
	margin-left: 0;
	margin-top: 3%;
	padding-right: 20%;



}

/*Footer*/

.footer {
	height: 6vh;
	background-color: #d9d9d9;
	border-top: 1px solid #e6ecf0;
	width: 100%;
	text-align: center;

}


.footer p {
	font-family: 'Montserrat', sans-serif;
	color:  #004d00;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 30%;
	letter-spacing: 2px;

}

.footer a{
	color: black;
}

#social-media a i{
	color: blue;
}



.arrow {
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	background: #46b9b9	
	border-radius: 50%;
}

.arrow img {
	width: 20px;
	height: 20px;
	z-index: 1;
}

/*Mobile View*/

@media only screen and (max-width: 400px) {

	nav {
		
		padding: 0;
		margin: 0;
		width: 100%;
		background-color: #f2f2f2;

	}

	.navbar-toggler-icon {
		color: black;
	}

	#page-title img{
	width: 20%;
	height: 20%;
	border-radius: 20%;	
	margin-right: 0;
	padding: 0;

	}

	#home h1 {
		font-size: 1.5em;
	}

	#home h2 {
		font-size: .7em;
		text-align: left;
	}

	#about-profile h2 {
		font-size: 1em;
	}

	#description p{
		text-align: center;
		font-size: 1em;
	}

	#gallery h2 {
		font-size: 1.5em;
	}

	#gallery p {
		font-size: 1em;
	}

	#contactPage {

		height: 100%;
		margin-right: 0;
		margin-left: 0;
		align-content: center;
	}

	#contactPage h2 {
		font-size: 1.1em;
	}

	#contactPage p {
		font-size: .7em;
		text-align: center;
	}

	.form-list {
		margin-right: 10%;
		margin-left: 0;
	}

	form .form-group {
		width: 100%;
		margin-right: 0;
		margin-left: 0;

	}

	form .btn {
		width: 100%;
		margin-right: 0;
		margin-left: 0;

	}

	#gmap {
		width: 100%;
		height: 50vh;
		margin-bottom: 10%;
		padding: 0;
		margin-right: 0;
		margin-left: 0;
	}
}


/*Tablet View*/

@media only screen and (min-width: 401px) and (max-width: 960px) {


	nav {
	
		padding: 0;
		margin: 0;
		width: 100%;
	}


	#artNav a {
		width: 85px;

	}

	#page-title img{
	width: 50%;
	height: 50%;
	border-radius: 20%;	
	margin-right: 0;
	padding: 0;

	}

	#home h1 {
		font-size: 5em;
	}

	#home h2 {
		font-size: 1.5em;
		text-align: center;
	}

	#about-profile {
		margin-top: 15%;
		padding-top: 5%;
	}


	#about-profile h2 {
		font-size: 1.5em;
	}

	#profile {
		padding-top: 2%;
	}

	#description p{
		text-align: left;
		font-size: 1em;
	}

	#gallery {
		padding-top: 5%;
	}

	#gallery h2 {
		font-size: 2em;
	}

	#gallery p {
		font-size: 1em;
	}

	#contactPage {
		height: 100%;
		padding-top: 7%;
	}

	#contactPage h2 {
		font-size: 1.1em;
	}

	#contactPage p {
		font-size: 1em;
	}

	

	form .form-group {
		width: 100%;
		margin-left: 0;
		height: 40%;

	}

	form .btn {
		width: 100%;
		margin-left: 0;
	}

	#gmap {
		width: 100%;
		height: 60vh;
		margin-left: 10%;
		margin-bottom: 3%;
	}
}

